*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    margin-top: 0%;
    width: 100%;
    height: 3%;
    background-color: black;

}

.slogan-text{
    font-style: italic;
    font-size: 7px;
    text-align: center;
    color: White;
}